.password-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  form {
    margin-top: 20px;

    input {
      border: none;
      background-color: #e9e7e7;
      padding: 10px 20px;
      border-radius: 20px;
      outline: none;
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__content {
    background: #fff;
    padding: 40px 90px 30px 90px;
    border-radius: 8px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  &__button {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    button {
      padding: 8px 30px;
      outline: none;
      border: none;
      color: #fff;
      border-radius: 15px;
      cursor: pointer;

      &:first-child {
        background-color: rgb(99, 99, 231);
      }
      &:last-child {
        background-color: rgb(219, 97, 97);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .password-modal {
    &__content {
      padding: 40px 50px 30px 50px;
      h2 {
        font-size: 20px;
      }
    }
  }
}
