.info {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 50px;

  &__wrap {
    padding-bottom: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__feature {
    font-weight: bold;
  }

  &__add {
    color: #3e45ec;
    font-weight: bold;
    cursor: pointer;
  }
  &__box {
    & + .info__box {
      margin-top: 40px;
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__shop {
    background-color: #f8f8f8;
    border-radius: 18px;
  }

  &__formBox {
    padding: 22px 28px;
    background-color: #f8f8f8;
    border-radius: 18px;
  }
  &__input {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }

    label {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
    }
    input {
      border: none;
      outline: none;
      background-color: transparent;
      &::placeholder {
        font-size: 17px;
        color: #888790;
      }
    }
  }
  &__file {
    position: absolute;
    top: 0;
    right: 0;
    button {
      border: 1px solid #3e45ec;
      border-radius: 8px;
      background-color: transparent;
      color: #3e45ec;
      padding: 7px 12px;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  &__createBtn {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px;
    border: none;
    outline: none;
    border-radius: 23px;
    span {
      color: #fff;
      text-align: center;
    }
  }
}

.loading-view {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
}
